div {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

input {
	border-radius: 10rem 0 0 10rem;
	border: none;
	height: 3rem;
	width: 20rem;
	background-color: #f1f1f1;
	padding: 1.2rem;
	font-size: 1.1rem;
	font-weight: 500;
	outline: none;
	transition: background-color 0.3s ease 0s;
	opacity: 0.9;
}
input:hover {
	opacity: 1;
}

div button {
	height: 3rem;
	min-width: 3rem;
	font-size: 1rem;
	border-radius: 0 10rem 10rem 0;
	border: none;
	background-color: #ff4d4d;
	color: white;
	opacity: 0.9;
	outline: none;
	transition: all 0.3s ease 0s;
	padding: 0.5rem 1rem;
}

div button:hover {
	opacity: 1;
	cursor: pointer;
}
