.container {
  position: relative;
  width: 35rem;
  height: 22rem;
  text-align: center;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    height: 16rem;
  }
}

.map {
  width: 100%;
  height: 100%;
}
